@model WebApplicationMVC.Models.Employee
@{
    ViewBag.Title = "UpdateView";
}

<h2>Update Employee</h2>

@using (Html.BeginForm())
{
    <p class="form-group">
        @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. 1, 2, 3, etc ", min = "1", max = "100" } })
    </p>
    <p class="form-group">
        @Html.LabelFor(model => model.FName, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. John, Tim, Mike, etc" } })
    </p>
    <p class="form-group">
        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. HR, BA, IT, ACC, etc" } })
    </p>
    <p class="form-group">
        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2", })
        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. VA, NY, NJ, TX, etc" } })
    </p>
    <p class="form-group">
        @Html.LabelFor(model => model.Qualification, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. MS, MBA, BA, etc" } })
    </p>

    <input type="submit" value="Update">

}

